.wrapper{
    height: 100%;
    background-color:gray;
   
   .title{
       display: flex;
       h2{
        color: white;
       margin: 25px 15px;
        width: 100%;
       
       };
   }

   ul{
        width: 100%;
        padding: 0;
        margin: 0;
       
       li{
           background-color: white;
           border: 1px solid #f1f2f6;
           display: flex;
           justify-content: space-between;
           height: 40px;
           text-align: center;
           padding: 0.7em;
                &.select, &:hover {
                    background-color:#1976d2;
                    span{
                        color: white;
                    }
               }
           img{
               height: 12px;
           }
      }
   }
}
